/* Styles for the home top bar */
.home-top-bar {
  display: flex; /* Flex container */
  background-color: rgb(0, 0, 0, .1); /* Semi-transparent black background */
  width: 100%; /* Full width */
  position: fixed; /* Fixed positioning */
  top: 0; /* Positioned at the top */
  left: 0; /* Positioned at the left */
  right: 0; /* Positioned at the right */
  justify-content: center; /* Center align horizontally */
  align-items: center; /* Center align vertically */
  height: 50px; /* Height of the bar */
  padding: 6px; /* Padding */
  color: white; /* White text color */
  z-index: 1; /* Ensure it's above other content */
}

/* Styles for links */
.links {
  position: fixed; /* Fixed positioning */
  top: 10; /* Positioned 10px from the top */
  right: 0; /* Positioned at the right */
  padding: 10px; /* Padding */
  background: none; /* Transparent background */
  color: white; /* White text color */
}

/* Styles for buttons */
.btn {
  position: relative; /* Relative positioning */
  background: none; /* Transparent background */
  color: white; /* White text color */
  padding: 0; /* No padding */
  margin: 30px; /* Margin */
  margin-left: auto; /* Left margin auto */
  width: 100px; /* Width */
  height: 35px; /* Height */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Font family */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold font weight */
  text-transform: uppercase; /* Uppercase text */
  border: none; /* No border */
  outline: none; /* No outline */
}

<<<<<<< HEAD
h3{
  font-size:3.0rem;
  color: white;
  position: relative;
  padding-top: 50px;
}
.container{
  position: relative;
  background-color: #333;
  width: 100%;
  height: 100%;
=======
/* Animation for button hover effect */
.btn::after {
  content: ''; /* Empty content */
  position: absolute; /* Absolute positioning */
  width: 100%; /* Full width */
  height: 0.175rem; /* Height of the line */
  background: white; /* White background */
  left: 0; /* Positioned at the left */
  bottom: 0; /* Positioned at the bottom */
  transform: scale(0, 1); /* Initially hidden */
  transform-origin: 0% 100%; /* Origin at bottom left */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

/* Animation for button hover effect */
.btn:hover::after {
  transform: scale(1, 1); /* Scale to show line */
>>>>>>> liz-branch
}

/* Styles for headings */
h3 {
  font-size: 3.0rem; /* Font size */
  color: white; /* White text color */
  position: relative; /* Relative positioning */
  padding-top: 50px; /* Padding top */
}

/* Styles for container */
.container {
  position: relative; /* Relative positioning */
  background-color: #333; /* Background color */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

/* Styles for split */
.split {
  position: absolute; /* Absolute positioning */
  width: 50%; /* 50% width */
  height: 100%; /* Full height */
  overflow: hidden; /* Hide overflow */
}

/* Styles for left split */
.split.left {
  left: 0; /* Positioned at the left */
  background: url('https://images.unsplash.com/photo-1486754735734-325b5831c3ad?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Background image */
  background-repeat: no-repeat; /* No repeat */
  background-size: cover; /* Cover background */
}

/* Styles for right split */
.split.right {
  right: 0; /* Positioned at the right */
  background: url('https://images.unsplash.com/photo-1435527173128-983b87201f4d?q=80&w=2667&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Background image */
  background-repeat: no-repeat; /* No repeat */
  background-size: cover; /* Cover background */
}

/* Pseudo elements for split */
.split.left::before,
.split.right::before {
  content: ''; /* Empty content */
  position: absolute; /* Absolute positioning */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

/* Styles for calender button and map button */
.calender-button,
.map-button {
  position: absolute; /* Absolute positioning */
  top: 47%; /* Positioned at 47% from the top */
  left: 50%; /* Positioned at 50% from the left */
  transform: translateX(-50%); /* Center horizontally */
  width: 24rem; /* Width */
  height: 10rem; /* Height */
  padding: 1rem; /* Padding */
  border: 2px solid white; /* Border */
  color: white; /* White text color */
  background-color: black; /* Black background color */
  text-decoration: none; /* No decoration */
  font-size: 1.5rem; /* Font size */
  display: flex; /* Flex container */
  align-items: center; /* Center align vertically */
  justify-content: center; /* Center align horizontally */
}

/* Hover effect for calender button and map button */
.calender-button:hover,
.map-button:hover {
  background-color: rgb(41, 175, 8); /* Green background color on hover */
  border-color: rgb(255, 255, 255); /* White border color on hover */
  transition: .5s ease; /* Smooth transition */
}

/* Active states for left and right split */
.active-left .left {
  width: 75%; /* 75% width */
  transition: width 1s ease; /* Smooth transition */
}

.active-left .right {
  width: 25%; /* 25% width */
  transition: width 1s ease; /* Smooth transition */
}

.active-right .left {
  width: 25%; /* 25% width */
  transition: width 1s ease; /* Smooth transition */
}

.active-right .right {
  width: 75%; /* 75% width */
  transition: width 1s ease; /* Smooth transition */
}






