/* Styles for the .map element */
.map {
  position: fixed; /* Fixed positioning */
  left: 0; /* Positioned on the left side of the viewport */
  width: 75%; /* 75% width of the viewport */
}

/* Styles for the .dateSelect element */
.dateSelect {
  position: fixed; /* Fixed positioning */
  right: 5.5%; /* Positioned on the right side with 5.5% offset */
}

/* Styles for the .homeButton element */
.homeButton {
  position: fixed; /* Fixed positioning */
  right: 6%; /* Positioned on the right side with 6% offset */
  bottom: 8%; /* Positioned 8% from the bottom */
  text-align: center; /* Center align the content */
  margin-top: 20px; /* Add some space from the top */
}

/* Style for the link within .homeButton */
.homeButton a {
  display: inline-block; /* Make the link behave like a block element */
  padding: 10px 20px; /* Add padding */
  background-color: #06b906; /* Blue color */
  color: #fff; /* White text color */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Add some rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for the link within .homeButton */
.homeButton a:hover {
  background-color: #03750c; /* Darker blue color on hover */
}

/* Styles for the .dataDisplay element */
.dataDisplay {
  text-align: center; /* Center align the content */
  position: fixed; /* Fixed positioning */
  right: 1.5%; /* Positioned on the right side with 1.5% offset */
  left: 76.5%; /* Takes remaining space after .map */
  height: 33%; /* 33% height of the viewport */
  bottom: 35%; /* Positioned 35% from the bottom */
  background-color: #45ff5e; /* Background color */
  padding: 20px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  border: 2px solid #000000; /* Border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
}

/* Styles for the heading within .dataDisplay */
.dataDisplay h2 {
  font-size: 24px; /* Font size */
  margin-bottom: 20px; /* Bottom margin */
}

/* Styles for the data list within .dataDisplay */
.dataDisplay ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

/* Styles for list items within .dataDisplay */
.dataDisplay li {
  margin-bottom: 20px; /* Bottom margin */
}

/* Styles for strong elements within list items */
.dataDisplay li strong {
  font-weight: bold; /* Bold font weight */
}

/* Styles for list items except the last one within .dataDisplay */
.dataDisplay li:not(:last-child) {
  border-bottom: 1px solid #ddd; /* Bottom border */
  padding-bottom: 10px; /* Bottom padding */
}
