.wrapper_settingspage h1{
    font-family: 'Calibri', Times, serif;
    margin-bottom: 5px;
    font-size: 64pt;
  }
  .wrapper_settingspage img {
    width: 150px;
    height: vh;
    margin-bottom: 30px;
  }
  html{
    background-image: url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZmFybXxlbnwwfHwwfHx8MA%3D%3D");
    background-size:cover;
    background-position: center;
    height: 100%;
    padding: 10px;
  }
  .wrapper_settingspage {
    width: 900px;
    height:min-content;
    margin-top: 150px; 
    background-color: rgba(253, 253, 253, 0.7);
    border-radius: 10%;
    align-self: center;

  }
  .wrapper_settingspage .input-box{
    position: relative;
    height: 50px;
  }
  .input-box input{
    width: 85%;
    height: 70%;
    background: transparent;
    outline: none;
    border: 2px solid;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 40px 20px 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  .input-box input::placeholder{
    color: black;
  }
  .input-box .icon{
    position:relative;
    right: 30px;
    top: 5%;
    font-size: 16px;
  }
  .wrapper_settingspage button{
    width: 30%;
    height: 35px;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
  }

  