.App {
  text-align: center;
}
.wrapper h1 {
  font-family: "Calibri", Times, serif;
}


.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
}

.wrapper .input-box {
  position: relative;
  height: 50px;
}

.login_input_box input {
  width: 85%;
  height: 70%;
  background: transparent;
  outline: none;
  border: 2px solid;
  border-radius: 100px;
  font-size: 16px;
  padding: 20px 40px 20px 40px;
  font-family: "Times New Roman", Times, serif;
}

.login_input_box input::placeholder {
  color: black;
}
.login_input_box .login_icon {
  position: absolute;
  right: 765px;
  top: 25%;
  font-size: 18px;
}
.wrapper_loginpage button {
  text-align: center;
  margin-top: 20px;
}
.wrapper_loginpage .login_register_account {
  text-align: center;
}
.login_register_account p a {
  color: rgb(23, 23, 145);
  text-decoration: none;
}
.login_register_account p a:hover {
  text-decoration: underline;
}
.button {
  display: inline-block;
  width: 75%;
  padding: 10px 10px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #030303;
  background-color: #4caf50;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: #45a049;
  border-color: #45a049;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4caf50;
}
.text-input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.text-input:focus {
  outline: none;
  border-color: #45a049;
}

.login-h2 {
  margin: 5px;
  font-size: 35px;
}
.reset-password-input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  transition: border-color 0.3s;
  width: 500px;
}
.nav-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}
.navbar-title {
  font-size: 30px;
  color: #4caf50;
  font-weight: 600;
  text-decoration: none;
}
.navbar-items {
  display: flex;
  gap: 25px;
  list-style: none;
}
.navbar-items button {
  font-size: 20px;
  color: white;
  background-color: #4caf50;
  height: 35px;
  width: 125px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
.leaflet-container {
  height: 100vh;
  width: 150vh;
}

.wrap {
  text-align: left;
  background: white;
  width: 600px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  margin-top: 20%;
  box-shadow: 2px 5px 20px
  rgba(119,119,119,.5);
}

.wrap p{
  border: 0;
  border-bottom: 1px solid #4caf50;
  width: 80%;
  font-family: 'montserrat', sans-serif;
  font-size: 1.0rem;
  font-weight: bold;
  padding: 8px 0;
}

.leftbox {
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 19%;
  height: 110%;
  background: #4caf50;
  box-shadow: 3px 3px 10px
  rgba(119,119,119,.5);
  border: .1em solid #fff;
}

/*logout and settings button*/
.click {
  position: relative;
  background: none;
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 30px;
  margin-left: auto;
  width: 100px;
  height: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
}
.click::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0.175rem;
  background: white;
  left: 0;
  bottom:0;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}
.click:hover::after{
  transform: scale(1, 1);
}

.rightbox h1{
  font-family: "Montserrat", sans-serif;
  color: #4caf50;
  font-size: 2.0 rem;
  margin-top: 40px;
  margin-bottom: 35px;

}

.rightbox {
  width: 60%;
  margin-left: 30%;

}

.input-txt {
  margin: 5px;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.input-txt:focus {
  outline: none;
  border-color: #45a049;
}

.bttn {
  display: inline-block;
  width: 34%;
  padding: 6px 6px;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #4caf50;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.bttn:hover {
  background-color: #45a049;
  border-color: #45a049;
}

.bttn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4caf50;
}